<h3>My post </h3>
<%= form_for @post do |f| %>
<label>My post title:</label>
<%=f.text_field :title%>
 <label>Post description</label><br>
  <%= f.text_area :description %><br>
  <%= f.submit %>
  <% end %>
